@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
body {font-family: "Galmuri14", sans-serif !important; }
li {cursor: pointer;}


.App {background: #161a23; overflow: hidden;}
.headerWrap  {position: fixed; left: 50%; top: 0; transform: translateX(-50%); z-index: 9999; height: 56px;}
.headerWrap.bgAdd::after {content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url(/public/image/navBg.png)no-repeat;background-position: top; background-size: cover; z-index: -1; opacity: 1; transition: all 0.4s;}
.headerWrap.bgno::after {content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url(/public/image/navBg.png)no-repeat;background-position: top; background-size: cover; z-index: -1; opacity: 0; transition: all 0.4s;}

a {text-decoration: none; color: inherit;}
button {padding: 0; margin: 0; background: none; border: none;}
.headerWrap {width: 100%; display: flex; align-items: center; justify-content: space-between;  box-sizing: border-box; padding: 20px;}
.headerWrap .navLeft {width: 50%; display: flex; align-items: center; justify-content: flex-start;}
.headerWrap .navLeft a {font-size: 14px; box-sizing: border-box; padding: 0 10px; color: #fff;}
.headerWrap .navLeft a:hover {color: #da619b; font-weight: 800;}
.headerWrap .navLeft a img {width: 100%; max-width: 44px;}
.headerWrap .navRight {width: 50%; display: flex; align-items: center; justify-content: flex-end;}
.headerWrap .navRight button {color: #fff; font-size: 14px; box-sizing: border-box; width: 100%; max-width: 45px; height: 45px;  border-radius: 50%; transition: all 0.3s;}
.headerWrap .navRight button:hover {background: rgba(0, 0, 0, 0.3); transition: all 0.3s;}
.headerWrap .navRight .searchIcon {color: #fff; font-size: 22px;}
.headerWrap .navRight .searchInputBox {width: 100%; max-width: 270px; border: 1px solid #fff; background: rgba(0, 0, 0, 0.3); }

.headerWrap .navLeft a.active {color: #da619b; font-weight: 800;}



.swiper {overflow: unset !important;}
.slideBox {width: 100%; position: relative;}
.slideBox .swiper-wrapper {width: 100%; }
.slideBox .swiper-wrapper .swiper-slide {width: 100%; height: 42.8125vw; background: linear-gradient(90deg, rgba(18, 18, 18, 0.5) 0%, rgba(18, 18, 18, 0) 50%), linear-gradient(rgba(18, 18, 18, 0.5) 0%, rgba(18, 18, 18, 0) 21.11%), linear-gradient(rgba(18, 18, 18, 0) 50%, rgba(18, 18, 18, 0.5) 100%);}
.slideBox .swiper-wrapper .swiper-slide img {width: 100%;}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {color: #fff; }
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {color: #fff;}
.swiper-pagination-bullet-active {background-color: #fff !important;}
.swiper-pagination-bullet {width: 16px !important; height: 16px !important;}

.mainTitl {position: absolute; left: 4%; top: 50%; transform: translateY(-50%);  color: #fff; z-index: 999;}
.mainTitl .title {font-size: 36px; font-weight: 800;}
.mainTitl .subTitle {font-size: 24px; margin-top: 18px;} 

.mainContent {width: 100%; box-sizing: border-box;}
.viewedContent {width: 100%; margin: 60px 0;}
.viewedContent .contentTitle {font-size: 22px; color: #9cdcfe; font-weight: 600; margin-bottom: 20px; box-sizing: border-box; padding-left: 20px;}
.viewedContent .viewSlide {width: 100%; display: grid; grid-template-columns: repeat(6, 1fr); gap: 10px; box-sizing: border-box; padding: 0 20px;}
.viewedContent .viewSlide .userView {width: 100%;}
.viewedContent .viewSlide .userView .imgBox {width: 100%; height: 164px; display: flex; align-items: center; justify-content: center; overflow: hidden; border-radius: 4px;}
.viewedContent .viewSlide .userView img {width: 100%; display: block;}
.viewedContent .viewSlide .aniName {font-size: 18px; color: #fff; margin-top: 12px; cursor: pointer; word-break: keep-all; line-height: 1.3;}
.viewedContent .viewSlide .series {font-size: 14px; color: #b1b1b1; line-height: 1.3; margin-top: 2px; word-break: keep-all;}


/* 애니 클릭 팝업 */
.aineMorePopupBg {width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.6);  position: fixed; left: 50%; top: 50%; z-index: 999999;  transform: translate(-50%, -50%);  display: flex; align-items: center; justify-content: center; opacity: 1; visibility: visible; transition: all 0.3s;}
.aineMorePopupBg.opacityMotion {opacity: 0; visibility: hidden; transition: all 0.3s;}
.aineMorePopup {width: 100%; max-width: 750px; position: relative;}
.aineMorePopup .aineMoreInner {width: 100%; position: relative; box-sizing: border-box; padding: 61px 10px 10px;}
.aineMorePopup .aineMoreInner .aniMoreContent { display: flex; align-items: center;}
.aineMorePopup .aineMoreInner .close {position: absolute; right: 20px; top: 10px; background: rgba(0, 0, 0, 0.6); border: none;  width: 100px; max-width: 40px; height: 40px; border-radius: 50%; overflow: hidden; }
.aineMorePopup .aineMoreInner .close svg {font-size: 28px; color: #fff;}
.aineMorePopup .aineMoreInner .ainiInfo_box {width: calc(60% - 20px); margin-right: 20px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .btnBox {display: flex; align-items: center; margin-bottom: 25px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .aniInfo {width: 100%;}
.aineMorePopup .aineMoreInner .ainiInfo_box .aniInfo ul {width: 100%; border-bottom: 1px solid #a1a1a1; padding-bottom: 12px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .aniInfo ul li {background: #4e4e4e; border-radius: 4px; display: inline-block; box-sizing: border-box; padding: 4px; color: #fff; font-size: 14px; margin-right: 4px; margin-bottom: 4px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .aniInfo ul li:last-child {margin-right: 0;}
.aineMorePopup .aineMoreInner .ainiInfo_box .aniInfo .age {display: inline-block; width: 24px; height: 24px; background: #e9b62f; font-size: 14px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #fff; font-weight: 800; margin-top: 12px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .play {background: #fff; box-sizing: border-box; padding: 10px; border-radius: 4px; font-size: 14px; font-weight: 800;}
.aineMorePopup .aineMoreInner .ainiInfo_box .play a {display: flex; align-items: center; justify-content: center;}
.aineMorePopup .aineMoreInner .ainiInfo_box .play svg {font-size: 24px; margin-left: 10px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .cartBtnBox {width: 30%; margin-left: 22px; position: relative;}
.aineMorePopup .aineMoreInner .ainiInfo_box .cartBtnBox .textAlarm {position: absolute; left: -12px; top: -32px;width: 100%; max-width: 74px; height: 28px;display: flex;align-items: center;justify-content: center;border-radius: 4px; opacity: 0; visibility: visible; transition: all 0.3s;  background-color: rgba(255,255,192,0.1);backdrop-filter: blur(10px); box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);}
.aineMorePopup .aineMoreInner .ainiInfo_box .cartBtnBox .textAlarm.opacityMotion {opacity: 1; transition: all 0.3s; visibility: visible;}
.aineMorePopup .aineMoreInner .ainiInfo_box .cartBtnBox .textAlarm h4 {font-size: 14px; color: #fff;}
.aineMorePopup .aineMoreInner .ainiInfo_box .add {width: 100%;  max-width: 44px;  height: 44px; border: 2px solid #4e4e4e; border-radius: 50%; background: #232323; }
.aineMorePopup .aineMoreInner .ainiInfo_box .add svg {color: #fff; font-size: 24px;}
.aineMorePopup .aineMoreInner .ainiInfo_box .title {font-size: 46px; font-weight: 600; word-break: keep-all; margin: 20px 0 10px; color: #fff; line-height: 1.3; word-break: keep-all;}
.aineMorePopup .aineMoreInner .ainiInfo_box .seriesName {font-size: 16px; font-weight: 600; word-break: keep-all; margin-bottom: 44px; color: #fff; font-weight: 600;}

.aineMorePopup .aineMoreInner .aniPost {width: 40%;} 
.aineMorePopup .aineMoreInner .aniPost .postImage {width: 100%; max-width: 200px; margin: 0 auto; height: 284px; border-radius: 12px; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.aineMorePopup .aineMoreInner .aniPost img {width: 100%; object-fit: cover; display: block; height: 100%;} 

.plotBox {width: 60%; position: relative; }
.aineMorePopup .plotBox .plot {box-sizing: border-box; width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 16px; line-height: 1.3; color: #fff; }
.aineMorePopup .plotBox .ploatView {position: absolute; right: -48px; bottom: -3px; font-size: 16px; font-weight: 800; color: #fff;}

.aineMorePopup .videoBg {position: absolute; width: 100%; height: 100%; max-width: 750px;}
.aineMorePopup .videoBg .video{width: 100% !important; height: 100% !important; position: relative;}
.aineMorePopup .videoBg .video::after {content: ''; width: 100%; height: 100%; position: absolute;  background: linear-gradient(90deg, rgba(18, 18, 18, 0.6) 0%, rgba(18, 18, 18, 0) 50%), linear-gradient(rgba(18, 18, 18, 0.6) 0%, rgba(18, 18, 18, 0) 21.11%), linear-gradient(rgba(18, 18, 18, 0) 50%, rgba(18, 18, 18, 0.9) 100%); left: 50%; top: 50%; transform: translate(-50%, -50%);}


.viewedContent2  {width: 100%; margin: 60px 0 80px;}
.viewedContent2 .contentTitle {font-size: 22px; color: #dcdcaa; font-weight: 600; margin-bottom: 20px; box-sizing: border-box; padding-left: 20px;}
.viewedContent2 .slideBox2 {width: 100%; box-sizing: border-box; padding: 0 20px;}
.viewedContent2 .slideBox2 .userView {width: 100%; display: block; z-index: 99; position: relative; transition: all 0.3s;}
.viewedContent2 .slideBox2 .userView.hoverCard { display: none; width: 100%; }
.viewedContent2 .slideBox2 .aniName {font-size: 18px; color: #fff; margin-top: 12px; line-height: 1.3; cursor: pointer;}
.viewedContent2 .slideBox2 .userView .imgBox {width: 100%; height: 164px; display: flex; align-items: center; justify-content: center; overflow: hidden; border-radius: 4px; position: relative; }
.viewedContent2 .slideBox2 .userView:hover .imgBox::after {opacity: 1; transition: all 0.2s;}
.viewedContent2 .slideBox2 .userView .imgBox::after {content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,0.8) 90%); transition: all 1s; opacity: 0; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 18px;}
.viewedContent2 .slideBox2 .userView:hover img {transform: scale(1.1); transition: all 0.6s;}

.viewedContent2 .slideBox2 .userView img {width: 100%; display: block; transition: all 0.3s;}
.viewedContent2 .byDay {font-size: 20px; color: #fff; font-weight: 600; margin-bottom: 20px; box-sizing: border-box; padding-left: 20px; display: flex; align-items: center;}
.viewedContent2 .byDay .day {width: 100%; max-width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background: #848484; border-radius: 50px; margin-right: 18px; }
.viewedContent2 .byDay .day.active {background: #da619b;}




/* 태그 검색 페이지 */
.byTypeWrap {width: 100%; box-sizing: border-box; padding-top: 56px;}
.byTypeWrap .byTypeInner {width: auto; padding: 0 20px;}
.byTypeWrap .byTypeInner .titleBox {width: 100%; box-sizing: border-box; padding: 40px 0; }
.byTypeWrap .byTypeInner .titleBox h2 {font-size: 28px; color: #9cdcfe; font-weight: 800;}
.byTypeWrap .byTypeInner .titleBox.cart h2 {color: #d7ba7d;}
.byTypeWrap .byTypeInner .contentsBox {width: 100%; overflow: hidden;}
.byTypeWrap .byTypeInner .contentsBox .typeBox {width: 100%; margin-bottom: 22px; display: flex; align-items: center;}
.byTypeWrap .byTypeInner .contentsBox .typeBox .typeRefresh {display: inline-block; background: #232323; box-sizing: border-box; padding: 8px 16px; border-radius: 6px; color: #fff; font-size: 14px; margin-left: 20px; font-weight: 600;}
.byTypeWrap .byTypeInner .contentsBox .typeBox .typeRefresh svg {margin-right: 4px;}
.byTypeWrap .byTypeInner .contentsBox .typeLise {width: auto; float: left;} 
.byTypeWrap .byTypeInner .contentsBox .typeLise li {display: inline-block; float: left; box-sizing: border-box; padding: 10px 20px; border-radius: 8px; color: #fff; margin-right: 10px; background: #353d44; font-size: 14px; transition: all 0.2s;}
.byTypeWrap .byTypeInner .contentsBox .typeLise li:hover {background: #272d32; transition: all 0.2s;}
.byTypeWrap .byTypeInner .contentsBox .typeLise li:last-child {margin-right: 0;}

.byTypeWrap .byTypeInner .contentsBox .userSelectBox {width: 100%; display: flex; align-items: flex-start;}
.byTypeWrap .byTypeInner .contentsBox .userSelectBox span {display: inline-block; color: #fff; font-size: 14px; width: 100%; max-width: 100px; margin-top: 2px;}
.byTypeWrap .byTypeInner .contentsBox .userSelectBox .userSelect {display: inline-block;}
.byTypeWrap .byTypeInner .contentsBox .userSelectBox .userSelect li {display: inline-flex; align-items: center;box-sizing: border-box; padding: 6px 18px; border: 1px solid #d7ba7d; color: #d7ba7d; border-radius: 22px; font-size: 14px; margin-right: 10px; margin-bottom: 10px;}
.byTypeWrap .byTypeInner .contentsBox .userSelectBox .userSelect li button {display: inline-block; margin-left: 8px;}
.byTypeWrap .byTypeInner .contentsBox .userSelectBox .userSelect li button svg {color: #d7ba7d; font-size: 12px;}

.viewedContent.byTypePage {margin: 40px 0 60px; min-height: calc(100vh - 330px); max-height: 100%;}
.viewedContent.byTypePage .viewSlide {gap: 60px 10px;}
.byTypeWrap .byTypeInner .contentsBox .seachResult {color: #fff; font-size: 14px; padding-bottom: 52px; font-weight: 600;}



.noCart {width: 100%; text-align: center; font-size: 20px;  height: calc(100vh - 230px); display: flex; align-items: center; justify-content: center; color: #9cdcfe;}


.noResult {width: 100%; text-align: center; line-height: 1.5;}
.noResult h2 {font-size: 16px; color: #fff;}

